/* src/components/Header.css */
.header {
    display: flex;
    padding: 7px;
    background: #222;
    color: white;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .header button {
    background: #1c6e9b;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  